@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    body{
    font-family: monospace;
    }
    h5{
    @apply underline;
    }
}
@layer utilities{
.font-cursive{
font-family: cursive;
}
}
li{
cursor:pointer
}